/******************************************/
/* General  */
/******************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #495057;
}

.container {
  -ms-grid-columns: 5.5rem 1fr;
      grid-template-columns: 5.5rem 1fr;
  -ms-grid-rows: 5.5rem 1fr;
      grid-template-rows: 5.5rem 1fr;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid--2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

li {
  list-style: none;
}

/******************************************/
/* ASIDE SECTION  */
/******************************************/
.aside {
  background-color: #014d4e;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.aside-img {
  width: 5.5rem;
  height: 5.5rem;
}

.aside .aside-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}

.aside .aside-links .aside-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #fff;
}

/******************************************/
/* HEADER SECTION  */
/******************************************/
.header {
  background-color: #ff9408;
}

.header .navigation {
  height: 100%;
  margin-right: 3.6rem;
}

.header .navigation .navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5rem;
  height: 100%;
}

.header .navigation .navigation-links .navigation-list .navigation-link {
  color: #fff;
  font-size: 1.6rem;
}

/******************************************/
/* MAIN SECTION  */
/******************************************/
.main {
  /* ************************************************************************ */
  /*  Contacto y horarios*/
  /* ************************************************************************ */
}

.main .container-showcase {
  height: 91vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/full-bg-07.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .container-showcase .showcase {
  background-color: #ff94088e;
  color: #fff;
  padding: 5rem 4rem;
}

.main .container-showcase .showcase .heading-primary {
  font-size: 4.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 6.4rem;
}

.main .container-showcase .showcase .occupation {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.842);
  margin-bottom: 4.8rem;
}

.main .container-showcase .showcase .mywork {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
}

.main .container-gallery {
  background-color: #017374;
  padding: 6.4rem 2rem 4.8rem 2rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.main .container-gallery .gallery-img {
  width: 90%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .container-gallery .gallery-img:hover {
  -webkit-filter: sepia(0.6);
          filter: sepia(0.6);
}

.main .container-statistics {
  background-color: #014d4e;
  color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 6.7rem;
  padding: 8rem 7rem;
}

.main .container-statistics .statistics .title-skill {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
  position: relative;
}

.main .container-statistics .statistics .title-skill::after {
  content: "";
  position: absolute;
  top: 160%;
  left: 5%;
  width: 12rem;
  height: 2px;
  background-color: #ffc513;
}

.main .container-statistics .statistics .info-statistics {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1.5rem 0;
}

.main .container-statistics .statistics .info-statistics .design {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.main .container-statistics .statistics .info-statistics .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #017374;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.main .container-statistics .statistics .info-statistics .skills .bar {
  width: 100%;
  height: 100%;
  background-color: #ff9408;
  border-radius: 1.5rem;
}

.main .container-statistics .statistics .info-statistics .skills .bar-1 {
  width: 40%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-2 {
  width: 20%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-3 {
  width: 50%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-4 {
  width: 10%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-5 {
  width: 90%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-6 {
  width: 70%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-7 {
  width: 60%;
  height: 100%;
}

.main .container-statistics .statistics .info-statistics .skills .bar-8 {
  width: 65%;
  height: 100%;
}

.main .container-prof {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  gap: 5rem;
  height: 32rem;
  padding: 4rem 5rem;
  background-color: #017374;
}

.main .info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.main .title {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  position: relative;
  color: #000;
}

.main .title::after {
  content: "";
  position: absolute;
  top: 160%;
  left: 13%;
  width: 12rem;
  height: 2px;
  background-color: #ffc513;
}

.main .text {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.main .container-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.main .icon-time,
.main .icon-hour {
  color: #ffc513;
  width: 3rem;
  height: 3rem;
}

.main .text-time,
.main .text-hour {
  font-size: 1.4rem;
  color: #fff;
}

.main .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}

.main .Schedule {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .title-contact {
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
  text-align: center;
  color: #000;
}

.main .date {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1.4rem;
  background-color: #ffc513;
  padding: 2.2rem 2.5rem;
  position: relative;
}

.main .month {
  font-size: 1.5rem;
  color: #fff;
}

.main .number-month {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bolder;
}

.main .down-arrow {
  color: #fff;
  -webkit-transform: rotate(-89deg);
          transform: rotate(-89deg);
  font-size: 2.3rem;
}

.main .down-arrow-1 {
  padding: 0 1.3rem;
}

.main .up-arrow {
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 2.3rem;
  margin-left: 5px;
  padding: 0 1rem;
}

.main .reservation-link:link,
.main .reservation-link:visited {
  display: inline-block;
  color: #fff;
  background-color: #ffc513;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 500;
  padding: 0.9rem 1.4rem;
}

.main .reservation-link:hover,
.main .reservation-link:active {
  background-color: #fff;
  color: #ffc513;
  -webkit-box-shadow: inset 0 0 0 1px #ffc513;
          box-shadow: inset 0 0 0 1px #ffc513;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main .date::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  background-color: #ffc513;
  width: 2rem;
  height: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.main .section-form {
  background-image: url(../img/full-bg-03.jpg);
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .section-form form {
  width: 30%;
}

.main .section-form form .form-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .section-form form .form-part .input {
  background-color: #014d4e;
  padding: 2rem 0 2rem 2rem;
  border: none;
  border-bottom: 1px solid #ff9408;
}

.main .section-form form .form-part .input::-webkit-input-placeholder {
  color: #fff;
}

.main .section-form form .form-part .input:-ms-input-placeholder {
  color: #fff;
}

.main .section-form form .form-part .input::-ms-input-placeholder {
  color: #fff;
}

.main .section-form form .form-part .input::placeholder {
  color: #fff;
}

.main .section-form form .btn {
  background-color: #014d4e;
  color: #838383;
  width: 100%;
  height: 6rem;
  border: none;
  text-align: left;
  padding-left: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 56em) {
  .container-showcase {
    background-position: 100% !important;
  }
  .showcase {
    padding: 2.5rem 1.5rem !important;
  }
  .heading-primary {
    font-size: 3rem !important;
  }
  .occupation {
    font-size: 1.8rem !important;
  }
  .mywork {
    font-size: 1.2rem !important;
  }
  .grid.container-gallery {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    justify-items: center !important;
  }
  .gallery-img {
    width: 50% !important;
  }
  .container-statistics {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .container-prof {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    height: auto !important;
  }
  .section-form {
    height: 100vh !important;
  }
}

@media only screen and (max-width: 44em) {
  .header {
    padding-right: 1rem !important;
  }
  .navigation {
    margin: 0 !important;
  }
  .navigation-link {
    font-size: 1.4rem !important;
  }
  .navigation-links {
    gap: 1.5rem !important;
  }
  .container {
    -ms-grid-columns: 4rem 1fr !important;
        grid-template-columns: 4rem 1fr !important;
    -ms-grid-rows: 4rem 1fr !important;
        grid-template-rows: 4rem 1fr !important;
  }
  .aside-img {
    width: 4rem !important;
    height: 4rem !important;
  }
  .container-showcase {
    background-position: 80% !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  .contact {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    justify-items: center !important;
  }
  .Schedule:first-child {
    grid-column: span 1 !important;
  }
  .Schedule:nth-child(2) {
    grid-column: span 1 !important;
  }
  .Schedule:last-child {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
  }
  .btn-reservation {
    text-align: center !important;
  }
}

@media only screen and (max-width: 33em) {
  .navigation-link {
    font-size: 1rem !important;
  }
  .showcase {
    width: 100% !important;
    text-align: center !important;
  }
  .title {
    line-height: 1.3 !important;
  }
  .title::after {
    top: 120% !important;
  }
  form {
    opacity: 0.7 !important;
    width: 80% !important;
  }
}
/*# sourceMappingURL=main.css.map */